.locationTools {
  position: relative;

  .insertLine {
    transition: all 0.2s;
    z-index: 2;
  }

  .insertLine,
  .detection {
    position: fixed;
    pointer-events: none;
    outline-offset: -2px;
  }

  .detectionHover {
    position: fixed;
    outline-offset: -1px;
    // pointer-events: none;
  }

  .actionTools {
    position: absolute;
    pointer-events: auto;
    right: 0;
    background-color: #1677ff;
    padding: 3px 4px;
    display: flex;
    align-items: center;
    border-radius: 0 0 3px 3px;

    .actionIcon {
      color: #fff;
      cursor: pointer;
      font-size: 13px;
    }
  }

  .detection,
  .detectionHover {
    z-index: 1;
  }
}
